<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text = "" defaultHref="/landing"></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <!-- <ion-row>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let image of [1,2]">
  <div class = "img-wrapper" [style.background-image] = "'url(assets/images/ionic-image-gallery-' + image + '.jpg)'">

  </div>
    </ion-col>
  </ion-row> -->

  <ion-button (click)="goTofirstDate()">Our first date</ion-button>
</ion-grid>

</ion-content>
