p {
    margin: 10px;
    align-items: center;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin: 50px;
    align-items: center;
    text-align: justify;
    font-size: 15px;
}

.centered-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
  
  